* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Nunito", sans-serif;
 }

.nav {
   background: #603bbb;
   height: 60px;
   line-height: 60px;
   display: flex;
   justify-content: space-between;
   padding: 0px 40px 0px 40px;
}

.title {
   color: #fff;
   font-family: "Nunito", sans-serif;
}

.navLine {
   display: flex;
   align-items: center;
   align-items: center;
}

.navLine button {
   color: #fff;
   border: 0;
   border-radius: 5px;
   margin-left: 30px;
   padding: 10px;
   background: linear-gradient(266deg, rgba(255,114,73,1) 0%, rgba(255,182,39,0.9962359943977591) 100%);
}

.userName {
   color: #fff;
}